<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style1.css">
    <link rel="stylesheet" href="style3.css">
    <title>Document</title>
</head>

<body>
</head>

<body>
  <div id="map">

  
</div>
<a class="return-button" href="/maps"> Return to Maps</a>
<a class="return-buttonHome" href="/profile"> Return to Home</a>
</body>
</html>
    <!-- Core theme JS-->
    <script src="main2.js"></script>
    
 