.containerImg {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 10px;
  }
  
  /* Style for the images */
  .img-box {
    flex: 1;
    margin: 10px;
    overflow: hidden;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    transition: transform .3s ease;
    cursor: pointer;
  }
  
  /* Style for the images on hover */
  .img-box:hover {
    transform: scale(1.05);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  }
  
  /* Style for the images within the container */
  .img-box img {
    display: block;
    width: 100%;
    height: auto;
  }
  
  /* Style for the expanded images */
  .img-box.expanded {
    flex: 2;
  }
  
  .img-box.expanded img {
    height: 100%;
    width: auto;
  }
  
  /* Hide other images when one is expanded */
  .containerImg.expanded .img-box:not(.expanded) {
    display: none;
  }